<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Receipt</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: lemonchiffon;
        }
    </style>
</head>
<body>
    <div th:object="${receipt}">
        <h1>Order Receipt</h1>
        <h2>Hi <strong th:text="${receipt.firstName}"></strong></h2>
        <p>You ordered <strong th:text="${receipt.quantity}"></strong> <strong th:text="${receipt.size}"></strong> pizza(s)</p>
        <p>with following toppings</p>
        <ul>
            <li th:each="topping : ${receipt.toppings}" th:text="${topping}"></li>
        </ul>
        <p>Order type: <strong th:text="${receipt.delivery ? 'Delivery' : 'Pickup'}"></strong></p>

        <h2>Price:</h2>
        <p><span th:text="${receipt.quantity}"></span> <span th:text="${receipt.size}"></span> pizza(s): $<strong th:text="${receipt.basePrice}"></strong></p>
        <p>Toppings: $<strong th:text="${receipt.toppingsPrice}"></strong></p>
        <p th:if="${receipt.delivery}">Delivery Fee: $5.00</p>
        <p>Your total is: $<strong th:text="${receipt.totalAmount}"></strong></p>

        <div th:if="${receipt.delivery}">
            <p>The order will be delivered to:</p>
            <p><span th:text="${receipt.address}"></span></p>
            <p>Estimated delivery time is one hour (<strong th:text="${receipt.deliveryOrPickupTime}"></strong>)</p>
        </div>

        <div th:if="${!receipt.delivery}">
            <p>The order will be delivered to:</p>
            <p><span th:text="${receipt.address}"></span></p>
            <p>Estimated pickup time is two hours (<strong th:text="${receipt.deliveryOrPickupTime}"></strong>)</p>
        </div>
    </div>
    <a th:href="@{/OnlinePizzaSystem}">
        <button>Make a new order</button>
    </a>
</body>
</html>